* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white);
	color: var(--slate);
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;

	display: inline-block;
}

h2 {
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
	color: var(--navy);
	text-align: center;
}

img {
	display: block;
}

.container {
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 120px 0;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 117%;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	color: var(--iris);
	margin-right: 76px;
}

.header {
	border-bottom: 1px solid #e7e9fc;
}

.header .container {
	display: flex;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__items {
	display: flex;
	gap: 40px;
}

.header__item {
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.02em;
}

.header__logo {
	color: var(--navy);
}

.header__link {
	line-height: 150%;
	color: var(--navy);
	padding: 24px 0;
}

.header__link:hover,
.header__link:focus {
	color: var(--ocean);
}

.header__contacts {
	margin-left: 292px;
	font-style: normal;
	padding: 24px 0;
}

.header__contacts_link {
	font-size: 16px;
	font-style: normal;

	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--slate);
}

.header__contacts_items {
	display: flex;
	gap: 40px;
}

.header__contacts_link:hover,
.header__contacts_link:focus {
	color: var(--ocean);
}

.order {
	padding: 188px 0;
	background-image: linear-gradient(
			rgba(46, 47, 66, 0.7),
			rgba(46, 47, 66, 0.7)
		),
		url('../../images/people-office.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.order__title {
	max-width: 496px;
	margin-left: auto;
	margin-right: auto;
	color: var(--white);
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 107.143%;
	letter-spacing: 1.12px;
	text-align: center;
}

.order__button {
	display: block;
	min-width: 169px;
	height: 56px;
	border: none;

	font-family: 'Roboto', sans-serif;
	background-color: var(--iris);
	text-align: center;
	color: var(--white);

	cursor: pointer;
	margin-left: 472px;

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.64px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order__button:hover,
.order__button:focus {
	background-color: var(--ocean);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.feature__items {
	display: flex;
	gap: 24px;
}

.feature__item {
	flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature__item_icons {
	width: 264px;
	height: 112px;

	margin-bottom: 8px;

	border: 1px solid var(--slate);
	background-color: var(--cloud);
	border-radius: 4px;
}

.feature__subtitle {
	margin-bottom: 8px;

	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	color: var(--navy);
}

.feature__dscr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
}

.team {
	background-color: var(--cloud);
}

.team__title {
	margin-bottom: 72px;
}

.team__items {
	display: flex;
	gap: 24px;
}

.team__item {
	background-color: var(--white);
	width: calc((100% - 72px) / 4);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team__item_about {
	padding: 32px 0;
}

.team__subtitle {
	text-align: center;
	margin-bottom: 8px;

	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;

	color: var(--navy);
}

.team__dscr {
	text-align: center;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
}

.team__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
	gap: 24px;
}

.team__item_icon {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--iris);
}

.portfolio__title {
	color: var(--bluemodal);
	line-height: 150%;
	letter-spacing: 0.2px;

	margin-bottom: 72px;
}

.portfolio__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
}

.portfolio__item {
	width: calc((100% - 48px) / 3);
}

.portfolio__item_img {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	padding: 8px;
	background-color: var(--iris);
}

.overlay__dscr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--cloud);

	padding: 40px 32px;
}

.portfolio__item:hover .overlay {
	transform: translateY(0);
}

.portfolio__item_text {
	padding: 32px 16px;

	border-block-end: 1px solid;
	writing-mode: horizontal-tb;
	border-block-end-color: var(--cornflower);

	border-inline: 1px solid;
	border-inline-color: var(--cornflower);
}

.portfolio__subtitle {
	margin-bottom: 8px;

	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.4px;
	color: var(--bluemodal);
}

.portfolio__dscr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}

.footer {
	background-color: var(--navy);
	padding: 100px 0;
}

.footer__items {
	display: flex;
}

.footer .logo {
	margin-bottom: 16px;
}

.footer__dscr {
	width: 264px;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--cloud);
}

.footer__item_subtitle {
	margin-bottom: 16px;
	text-align: inherit;

	color: var(--white);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.32px;
}

.footer__item_social {
	margin-left: 120px;
}

.footer__logo {
	color: var(--cloud);
}

.footer__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}

.footer__item_icon {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--iris);
}

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-grey: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--bluemodal: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
}
